<!--
  Generated template for the FilmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col col-6>
        <ion-title>Films</ion-title>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only clear default full color="primary" (click)="toggleFilters()">
          <ion-icon name={{icon}}></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only clear default full color="secondary" (click)="addFilm()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleSearch">
      <ion-col col-12>
        <ion-searchbar [(ngModel)]="search" (ionInput)="setFilteredFilms()"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visibleFilter">
      <ion-col col-12>
        <ion-select [(ngModel)]="categoryFilterId" (ngModelChange)="refresh(null)">
          <ion-option *ngFor="let category of categories" value={{category.categoryId}}>{{category.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let film of filtered">
    <film-card [film]="film"></film-card>
  </ion-list>
</ion-content>
