.ml11 {
  font-weight: 900;
  font-size: 3.5em;
}

.titre {;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
