<!--
  Generated template for the ActorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col col-9>
        <ion-title>Actors</ion-title>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only clear default full color="secondary" (click)="addActor()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-searchbar [(ngModel)]="search" (ionInput)="setFilteredActors()"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let actor of filtered">
    <actor-card [actor]="actor"></actor-card>
  </ion-list>
</ion-content>
