<!--
  Generated template for the ShowFilmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{film.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <h3>Description :</h3>
  </ion-row>
  <ion-row>
    <p>{{film.description}}</p>
  </ion-row>
  <ion-row>
    <h3>Categories :</h3>
  </ion-row>
  <ion-row>
    <p>{{categories}}</p>
  </ion-row>
  <ion-row>
    <h3>Actors :</h3>
  </ion-row>
  <ion-list *ngFor="let actor of actors">
    <ion-row col-12>
      {{actor.firstName}} {{actor.lastName}}
    </ion-row>
  </ion-list>
</ion-content>
