<div *ngIf="!isVisible">
</div>

<div *ngIf="isVisible">
<nz-modal [(nzVisible)]="isVisible" nzTitle="Modification" [nzCancelText]="null" [nzOkText]="null"  (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]="validateForm" class="login-form addActor" (ngSubmit)="submitEditForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixDescrip">
          <input type="text" nz-input formControlName="firstName" value="{{acteur.firstName}}">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('firstName').dirty && validateForm.get('firstName').errors">Veuillez entrer le prénom de cet acteur!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixTitle">
          <input type="text" nz-input formControlName="lastName" value="{{acteur.lastName}}">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('lastName').dirty && validateForm.get('lastName').errors">Veuillez entrer un nom de cet acteur !</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">Valider</button>
        <button nz-button (click)="handleCancel()" style="margin-left: 10px">Annuler</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixTitle><i nz-icon type="file" theme="outline"></i></ng-template>
  <ng-template #prefixDescrip><i nz-icon type="snippets" theme="outline"></i></ng-template>
</nz-modal>
</div>
