<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>

  <h2>Welcome to Cinem'app !</h2>
  <p>
    This is the Android application that allows you to use our Web Client to
    request SQL's Sakila database.
  </p>
  </ion-row>
  <ion-row>
    <ion-label class="h3">Server's IP</ion-label>
    <ion-input type="text" [(ngModel)]="changeIP" (ionChange)="setIP()" ></ion-input>
  </ion-row>
</ion-content>
