<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>App developped by :</p>
  <ul>
    <li>LOMBARDO Florian</li>
    <li>REMOND Victor</li>
    <li>TAGUEJOU Christian</li>
  </ul>
</ion-content>
