<div *ngIf="!isVisible">
</div>

<div *ngIf="isVisible">
<nz-modal [(nzVisible)]="isVisible" nzTitle="Modification" [nzCancelText]="null" [nzOkText]="null"  (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]="validateForm" class="login-form addFilm" (ngSubmit)="submitEditForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixTitle">
          <input type="text" nz-input formControlName="title" value="{{film.title}}">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">Veuillez le titre de ce film !</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixDescrip">
          <textarea nz-input formControlName="description" value="{{film.description}}" nzAutosize></textarea>
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">Veuillez entrer la description de ce film !</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-select nzMode="tags" nzPlaceHolder="Liste des categories" [(ngModel)]="listeChoixName" formControlName="listeChoix">
        <nz-option *ngFor="let categ of listeCategories" [nzLabel]="categ.name" [nzValue]="categ.name">
        </nz-option>
      </nz-select>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">Valider</button>
        <button nz-button (click)="handleCancel()" style="margin-left: 10px">Annuler</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixTitle><i nz-icon type="file" theme="outline"></i></ng-template>
  <ng-template #prefixDescrip><i nz-icon type="snippets" theme="outline"></i></ng-template>
</nz-modal>

</div>
