<!--
  Generated template for the ShowActorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{actor.firstName}} {{actor.lastName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <h3>Films :</h3>
  </ion-row>
  <ion-list *ngFor="let film of films">
    <ion-row>
      <div>
        {{film.title}}
      </div>
    </ion-row>
  </ion-list>
</ion-content>
