  <div class="card"  >
    <nz-card style="width:300px;" [nzCover]="" [nzActions]="[actionEdit,actionDelete]">
      <nz-card-meta [nzTitle]="film.title" [nzDescription]="film.description" [nzAvatar]=""></nz-card-meta>
    </nz-card>
    <ng-template #actionEdit>
      <i nz-icon type="edit" (click)="editFilm()"></i>
    </ng-template>
    <ng-template #actionDelete>
      <i nz-icon type="delete" theme="outline" (click)="deleteFilm()"></i>
    </ng-template>
  </div>

  <app-modal-film #modalFilm [film]="film" [isVisible]="isVisible" (change)="notVisible($event)" ></app-modal-film>
