<!-- Generated template for the ActorCardComponent component -->
<ion-card>
  <ion-row>
    <ion-col text-center>
      <h2>{{actor.firstName}} {{actor.lastName}}</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <button ion-button icon-start clear small (click)="showPage()">
        <ion-icon name="eye"></ion-icon>
        <span>Show</span>
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button icon-start clear small (click)="editPage()">
        <ion-icon name="settings"></ion-icon>
        <span>Edit</span>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
