<!-- Generated template for the FilmCardComponent component -->
<ion-card>
  <ion-row>
    <ion-col center text-center>
      <h2>{{film.title}}</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
      <p>
        {{film.description}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
      <button ion-button icon-start clear small (click)="showPage()">
        <ion-icon name="eye"></ion-icon>
        <span>Show</span>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button ion-button icon-start clear small (click)="editPage()">
        <ion-icon name="settings"></ion-icon>
        <span>Edit</span>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
