<div class="body">

<form nz-form [formGroup]="validateForm" class="login-form addFilm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixTitle">
        <input type="text" nz-input formControlName="title" placeholder="Titre">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">Veuillez entrer le titre du film!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixDescrip">
        <textarea nz-input placeholder="Description du film" formControlName="description" nzAutosize></textarea>
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">Veuillez entrer la description de votre film!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">Valider</button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixTitle><i nz-icon type="file" theme="outline"></i></ng-template>
<ng-template #prefixDescrip><i nz-icon type="snippets" theme="outline"></i></ng-template>

</div>
