<nz-card style="width:300px;" [nzCover]="" [nzActions]="[actionEdit,actionDelete]">
  <nz-card-meta [nzTitle]="acteur.firstName +' '+ acteur.lastName " nzDescription="" [nzAvatar]="avatarTemplate"></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="../../assets/img/actor.png"></nz-avatar>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon type="edit" (click)="editActeur()"></i>
</ng-template>
<ng-template #actionDelete>
  <i nz-icon type="delete" theme="outline" (click)="deleteActeur()"></i>
</ng-template>

<app-modal-actor #modalFilm [acteur]="acteur" [isVisible]="isVisible" (change)="notVisible($event)" ></app-modal-actor>

