<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item routerLink=""><i nz-icon type="home" theme="outline"></i>Accueil</li>
  <li nz-submenu>
    <span title><i nz-icon type="video-camera" theme="outline"></i> Films</span>
    <ul>
      <li nz-menu-item  routerLink="/films">Liste des films</li>
      <li nz-menu-item  routerLink="/addFilm">Ajouter un film</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i nz-icon type="user" theme="outline"></i> Acteurs</span>
    <ul>
      <li nz-menu-item  routerLink="/acteurs">Liste des acteurs</li>
      <li nz-menu-item  routerLink="/addActeur">Ajouter un acteur</li>
    </ul>
  </li>
  <li nz-menu-item routerLink="/recherche"><i nz-icon type="search" theme="outline"></i>Recherche</li>
</ul>

<router-outlet></router-outlet>

