<!--
  Generated template for the EditActorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="edit">Edit Actor</ion-title>
    <ion-title *ngIf="!edit">Create Actor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="actor.firstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="actor.lastName" required></ion-input>
    </ion-item>

  </ion-list>
  <ion-list *ngIf="edit">
      <ion-item>
        <button ion-button large round block color="primary" (click)="updateActor()">Update</button>
      </ion-item>
      <ion-item>
        <button ion-button large round block color="danger" (click)="showAlert()">Delete</button>
      </ion-item>
  </ion-list>
  <ion-list *ngIf="!edit">
      <ion-item>
        <button ion-button large round block color="secondary" (click)="addActor()">Create</button>
      </ion-item>
  </ion-list>
</ion-content>
