<div class="body">

<form nz-form [formGroup]="validateForm" class="login-form addActor" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixTitle">
        <input type="text" nz-input formControlName="lastName" placeholder="Nom">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('lastName').dirty && validateForm.get('lastName').errors">Veuillez entrer le nom de l'acteur!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixDescrip">
        <input type="text" nz-input formControlName="firstName" placeholder="Prénom">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('firstName').dirty && validateForm.get('firstName').errors">Veuillez entrer le prénom de l'acteur!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button class="login-form-button" [nzType]="'primary'">Valider</button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixTitle><i nz-icon type="file" theme="outline"></i></ng-template>
<ng-template #prefixDescrip><i nz-icon type="snippets" theme="outline"></i></ng-template>

</div>
