<div class="body">
  <div class="leftSide">
    <h3>Dans quel film a t-il joué ?</h3>

    <form nz-form [nzLayout]="'inline'" [formGroup]="filmActeurForm" (ngSubmit)="getFilmActeurForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-select style="width: 300px" id="acteurChoisi" formControlName="acteurChoisi" nzPlaceHolder="Choisissez un acteur ">
            <div  *ngFor="let acteur of listeActeurs">
              <nz-option nzLabel="{{acteur.firstName + ' ' + acteur.lastName}}" nzValue="{{acteur.actorId}}"></nz-option>
            </div>
          </nz-select>
          <nz-form-explain *ngIf="filmActeurForm.get('acteurChoisi').dirty && filmActeurForm.get('acteurChoisi').errors">Veuillez sélectionner un acteur</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Valider</button>
        </nz-form-control>
      </nz-form-item>
    </form>


    <h3>Films par catégorie </h3>

    <form nz-form [nzLayout]="'inline'" [formGroup]="filmCategorieForm" (ngSubmit)="getFilmCategorieForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-select style="width: 300px" id="categorieChoisi" formControlName="categorieChoisi" nzPlaceHolder="Choisissez une categorie ">
            <div  *ngFor="let categorie of listeCategories">
              <nz-option nzLabel="{{categorie.name}}" nzValue="{{categorie.categoryId}}"></nz-option>
            </div>
          </nz-select>
          <nz-form-explain *ngIf="filmCategorieForm.get('categorieChoisi').dirty && filmCategorieForm.get('categorieChoisi').errors">Veuillez sélectionner une categorie</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Valider</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <h3>Catégories d'un film</h3>

    <form nz-form [nzLayout]="'inline'" [formGroup]="categorieFilmForm" (ngSubmit)="getCategorieFilmForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-select style="width: 300px" id="filmChoisi" formControlName="filmChoisi" nzPlaceHolder="Choisissez un film ">
            <div  *ngFor="let film of listeFilm">
              <nz-option nzLabel="{{film.title}}" nzValue="{{film.filmId}}"></nz-option>
            </div>
          </nz-select>
          <nz-form-explain *ngIf="categorieFilmForm.get('filmChoisi').dirty && categorieFilmForm.get('filmChoisi').errors">Veuillez sélectionner une categorie</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Valider</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <h3>Acteurs présents dans un film</h3>

    <form nz-form [nzLayout]="'inline'" [formGroup]="acteurFilmForm" (ngSubmit)="getActeurFilmForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-select style="width: 300px" id="acteurFilmChoisi" formControlName="acteurFilmChoisi" nzPlaceHolder="Choisissez un film ">
            <div *ngFor="let film of listeFilm">
              <nz-option nzLabel="{{film.title}}" nzValue="{{film.filmId}}"></nz-option>
            </div>
          </nz-select>
          <nz-form-explain *ngIf="acteurFilmForm.get('acteurFilmChoisi').dirty && acteurFilmForm.get('acteurFilmChoisi').errors">Veuillez sélectionner un acteur</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Valider</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <div class="rightSide">
    <h3>Résultats</h3>
    <ul *ngFor="let film of resultats">
      <li>{{film}}</li>
    </ul>
  </div>
</div>
