<ion-tabs>
  <ion-tab [root]="tab2Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Actors" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Films" tabIcon="film"></ion-tab>
</ion-tabs>
