<!--
  Generated template for the EditFilmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="edit">Edit Film</ion-title>
    <ion-title *ngIf="!edit">Create Film</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="film.title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="film.description" required></ion-textarea>
    </ion-item>

    <ion-item *ngIf="visibleAct">
      <ion-label class="h3">Actors</ion-label>
      <ion-select [(ngModel)]="actors" multiple="true">
        <ion-option *ngFor="let actor of allActors" [value]="actor.actorId" [selected]="actorChecked(actor.actorId)">
          {{actor.firstName + " " + actor.lastName}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="visibleCat">
      <ion-label class="h3">Categories</ion-label>
      <ion-select [(ngModel)]="categories" multiple="true">
        <ion-option *ngFor="let category of allCategories" [value]="category.categoryId" [selected]="categoryChecked(category.categoryId)">
          {{category.name}}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-list *ngIf="edit">
    <ion-item>
      <button ion-button large round block color="primary" (click)="updateFilm()">Update</button>
    </ion-item>
    <ion-item>
      <button ion-button large round block color="danger" (click)="showAlert()">Delete</button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!edit">
    <ion-item>
      <button ion-button large round block color="secondary" (click)="addFilm()">Create</button>
    </ion-item>
  </ion-list>
</ion-content>
